<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elum.session.dao.SessionAggrStatMapper">
  <resultMap id="sessionAggrStatResultMap" type="com.elum.session.entity.SessionAggrStat">
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="session_count" jdbcType="INTEGER" property="sessionCount" />
    <result column="1s_3s" jdbcType="DOUBLE" property="visit_length_1s_3s_ratio" />
    <result column="4s_6s" jdbcType="DOUBLE" property="visit_length_4s_6s_ratio" />
    <result column="7s_9s" jdbcType="DOUBLE" property="visit_length_7s_9s_ratio" />
    <result column="10s_30s" jdbcType="DOUBLE" property="visit_length_10s_30s_ratio" />
    <result column="30s_60s" jdbcType="DOUBLE" property="visit_length_30s_60s_ratio" />
    <result column="1m_3m" jdbcType="DOUBLE" property="visit_length_1m_3m_ratio" />
    <result column="3m_10m" jdbcType="DOUBLE" property="visit_length_3m_10m_ratio" />
    <result column="10m_30m" jdbcType="DOUBLE" property="visit_length_10m_30m_ratio" />
    <result column="30m" jdbcType="DOUBLE" property="visit_length_30m_ratio" />
    <result column="1_3" jdbcType="DOUBLE" property="step_length_1_3_ratio" />
    <result column="4_6" jdbcType="DOUBLE" property="step_length_4_6_ratio" />
    <result column="7_9" jdbcType="DOUBLE" property="step_length_7_9_ratio" />
    <result column="10_30" jdbcType="DOUBLE" property="step_length_10_30_ratio" />
    <result column="30_60" jdbcType="DOUBLE" property="step_length_30_60_ratio" />
    <result column="60" jdbcType="DOUBLE" property="step_length_60_ratio" />
  </resultMap>



</mapper>